<hr>
<h1 class="text-center press-header">Electronic Press Kit</h1>
<hr>
<div class="image-container text-center">
    <img src="../../../assets/Cropped Logo.png" alt="Image Of Black Blow House Logo"
        class="w-100 text-center image-fluid">
</div>
<br>
<p><i>The sound of Mobile Mardi Gras!</i> Blow House Brass Band is a Second Line Jazz ensemble based out of
    Mobile, Alabama. Blow House has performed for revelers of all kinds at parades, balls, parties, and
    festivals since 2007. Described as "The Sound of Mardi Gras," Blow House plays a blend of classic Carnivale
    fare and down and dirty funk culminating in a unique and lively musical experience... just like the Azalea
    City we call home!</p>
<div class="text-center">
    <h2 class="press-header">Social Media and Streaming</h2>
    <table class="center">
        <tr>
            <td>
                <a href="https://www.facebook.com/BlowHouseBrassBand/">
                    <span class="fa-brands fa-facebook-f icon"></span>&nbsp;&nbsp; Facebook
                </a>
            </td>
            <td>
                <a href="https://www.youtube.com/channel/UCISLzojZEfh7QL7L2FdSqWg">
                    Youtube &nbsp;&nbsp;<span class="fa-brands fa-youtube icon"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.instagram.com/blow_house/">  
                    <span class="fa-brands fa-instagram icon"></span>&nbsp;&nbsp; Instagram
                </a>
            </td>
            <td>
                <a href="https://open.spotify.com/artist/5eFDkvvIjHSaKorew9SD1E">
                    Spotify&nbsp;&nbsp;<span class="fa-brands fa-spotify icon"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://twitter.com/blowhousebrass/">
                    <span class="fa-brands fa-twitter icon"></span>&nbsp;&nbsp;Twitter
                </a>
            </td>
            <td>
                <a href="https://music.apple.com/us/artist/blow-house-brass-band/1590419043">
                    Apple Music&nbsp;&nbsp;<span class="fa-brands fa-apple icon"></span>
                </a>
            </td>
        </tr>
    </table>
</div>
<br>
<div class="text-center">
    <h2 class="press-header">Press Photos</h2>
    <p>Pictures and vidoes for Press and Promotional Use can be found
     <a href="https://drive.google.com/drive/folders/1pC5K7o7JOw6IFmwloPNntE02dyuO1cBs?usp=sharing" target="_blank">
        <span class="promo-link">here</span></a>.</p>
</div>
<br>
<div class="text-center">
    <h2 class="press-header">Contact</h2>
    <table class="center">
        <tr><td><a [routerLink]="'/'" [ngClass]="{'active-link': this.currentUrl === '/'}" class="col-auto" target="_blank">BlowHouseBrass.com</a></td></tr>
        <tr><td><a href="mailto:blowhousebrass@gmail.com" target="_blank">BlowHouseBrass@gmail.com</a></td></tr>
        <tr><td>Jonathan Landry - (251) 472-5659</td></tr>
        <tr><td>David Anthony - (251) 753-0019</td></tr>
        <tr><td>Patrick Gormandy - (251) 366-4564</td></tr>
    </table>
</div>
<br>
<div class="text-center">
    <h2 class="press-header">Other Appearances in the Media</h2>
    <table class="center media-link">
        <tr><td><a href="https://www.wkrg.com/whats-working/whats-working-from-scrawny-kids-to-in-demand-mardi-gras-brass-band/" target="_blank">"What's Working"</a></td></tr>
        <tr><td><a href="https://mynbc15.com/newsletter-daily/friday-night-live-mobiles-free-quarterly-concert-series-returns-feb-10" target="_blank">"Friday Night Live"</a></td></tr>
        <tr><td><a href="https://www.fox10tv.com/2022/07/06/mardi-gras-july-fairhope-brewing-company/" target="_blank">"Mardi Gras In July"</a></td></tr>
        <tr><td><a href="https://www.mobilecountyal.gov/community_events/events/caroling-with-blow-house-2021-2021-12-18/" target="_blank">"Caroling With Blow House"</a></td></tr>
        <tr><td><a href="https://www.facebook.com/watch/?v=3577955912280476">"Fandoms Anonymous Podcast: The Year without Mardi Gras"</a></td></tr>
    </table>
</div>
<br>
<hr>